html{
  font-family: Helvetica;
  font-size:22px;
  background-color:black;
  color:seashell;
  opacity:0.9;
}
/*header*/
header {
  display:flex;
  position: fixed;
  height: 69px;
  width:100%;
  border-bottom: 1px solid seashell;
  z-index:1;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  top: -0.5%;
}
.headerimage img{
  height:50px;
  opacity: 0.9;
  margin: 10px;
}
nav{
  display: inline-block;
  padding-right: 10px;
}
.navbar span{
  padding: 20px 10px;
}
.navbar span a {
  color: seashell;
}
/*header*/
/*image*/
#imagetitle{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height:700px;
  width: 1200px;
  display:flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 70px;
}
.imagetext{
  background-color: black;
  width: 1200px;
  display: inline-block;
  text-align: center;
}
/*image*/
/*teaofthemonth*/
#teaofthemonth{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.teatypes img {
  width: 300px;
  height:200px;
  padding: 15px;
}
.teatypes h4{
  margin-top: 5px;
}
.wrapteatypes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
  text-align: center;
}
.teaofthemonthtitle{
  text-align: center;
}
#locationcontainer{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 575px;
  width: 1200px;
  margin: 50px auto;
}
#locationcontainer h2{
  text-align: center;
  padding-top: 70px;
}
.wraplocations{
  display: flex;
  justify-content: center;
}
.locationsboxes{
  background-color: black;
  width:300px;
  text-align: center;
  margin:auto 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
}
/*contact details*/
.contact{
  text-align: center;
}
/*footer*/
footer{
  text-align: left;
  margin-left:20px;
}
