html{
  font-family: Helvetica;
  font-size:22px;
  background-color:black;
  color:seashell;
  opacity:0.9;
}

header {
  display:flex;
  position: fixed;
  height: 69px;
  width:100%;
  border-bottom: 1px solid seashell;
  z-index:1;
  align-items: center;
  justify-content: space-between;
}
.headerimage img{
  height:50px;
  opacity: 0.9;
  margin: 10px;
}
nav{
  display: inline-block;
  padding-right: 10px;
}
.navbar span{
  padding: 20px 10px;
}
.navbar span a {
  color: seashell;
}
